<h1>Edit your Information</h1>

<form method="POST" action="/user/{{userId}}?_method=PUT">
    <ul class="add-user">
        <li class="user-row">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="John Doe" value="{{oneUser.name}}" required>
        </li>

        <li class="user-row">
            <label for="location">Location</label>
            <input type="text" name="location" placeholder="Atlanta, Georgia" value="{{oneUser.location}}" required>
        </li>

        <li class="user-row">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="johndoe@email.com" value="{{oneUser.email}}" required>
        </li>

         <a href="/user/userlisting" class="homeLink">Back</a>
        <input type="submit" value="Update User!" class="homeLink">
    </ul>

</form>

<form method="POST" action="/user/{{userId}}?_method=DELETE">

    <input type="submit" value="Remove User" class="homeLink">

</form>