<h1>Edit Your Vehicle</h1>

<form method="POST" action="/user/cars/{{vinNum}}?_method=PUT">
    <ul class="add-car">
        <li class="car-row">
            <label for="Make">Make</label>
            <input type="text" name="make" placeholder="Who made it?" value="{{oneCar.make}}" required>
        </li>

        <li class="car-row">
            <label for="Model">Model</label>
            <input type="text" name="model" placeholder="What's the model?" value="{{oneCar.model}}" required>
        </li>

        <li class="car-row">
            <label for="Year">Year</label>
            <input type="number" name="year" placeholder="What's the year?" maxlength="4" value="{{oneCar.year}}" required>
        </li>

        <a href="/user/cars/carlisting" class="homeLink">Back</a>
        <input type="submit" value="Update Car!" class="homeLink">

    </ul>

</form>

<form method="POST" action="/user/cars/{{vinNum}}?_method=DELETE">

    <input type="submit" value="Remove Car" class="homeLink">

</form>