<h1>The Ideal Descriptions</h1>
<a href="/user/" class="homeLink">Home</a>

<a href="/user/cars/description/search/" class="homeLink">Refresh If Broke</a>

<a href="/user/cars/description/addDescript" class="homeLink">Add</a>

<ul>
    {{#each allDescripts}}
    <li class="descript-list">
        <p id="d-paragraph">This car is a nice {{color}} color, with a bizzare comfort of a {{comfort}} out of 10 for any driver or passenger.
            There are {{seats}} seats available for {{seats}} great individuals. And if you are wondering, {{childFriendly}} this vehicle is 
            child friendly. Averaging {{mpg}} MPG, this vehicle {{accident}} been in at least one accident. Last but not least, you
            {{smoker}} smoke any products in side of here.
        </p>
        <a href="/user/cars/description/{{_id}}">Edit</a>
    </li>
    {{/each}}
</ul>