<form method="POST" action="/user/cars/description/{{descriptId}}?_method=PUT">
    {{!-- --------------- description schema imputs --------------- --}}
    <ul class="add-descript">
        <li class="descript-row">
            <label for="Color">Color</label>
            <input type="text" name="color" placeholder="What color is it?" value="{{oneD.color}}" required>
        </li>

        <li class="descript-row">
            <label for="Comfort">Comfort</label>
            <input type="number" min="1" max="10" name="comfort" placeholder="Rate 1-10" value="{{oneD.comfort}}" required>
        </li>

        <li class="descript-row">
            <label for="Seats">Seats</label>
            <input type="number" min="1" max="12" name="seats" placeholder="Whats the seat capacity?" value="{{oneD.seats}}" required>
        </li>

        <li class="descript-row">
            <label for="MPG">MPG</label>
            <input type="number" name="mpg" placeholder="Whats the average mpg city/hwy?" value="{{oneD.mpg}}" required>
        </li>

        <li class="descript-row">
            <label for="Child Friendly">Child Friendly</label>
            <input type="text" name="childFriendly" placeholder="yes or no" value="{{oneD.childFriendly}}" required>
        </li>

        <li class="descript-row">
            <label for="Accidents">Accidents</label>
            <input type="text" name="accident" placeholder="has or hasn't" value="{{oneD.accident}}" required>
        </li>

        <li class="descript-row">
            <label for="Smoking Allowed?">Smoking Allowed</label>
            <input type="text" name="smoker" placeholder="can or can't" value="{{oneD.smoker}}" required>
        </li>

        <a href="/user/cars/description/search" class="homeLink">Back</a>
        <input type="submit" value="Update Description!" class="homeLink">
    </ul>

</form>

<form method="POST" action="/user/cars/description/{{descriptId}}?_method=DELETE">

    <input type="Submit" value="Remove Description" class="homeLink">

</form>