<form method="POST" action="/user/cars/description/{{descriptId}}?_method=PUT">
    {{!-- --------------- description schema imputs --------------- --}}

    <label for="Color">Color</label>

        <input type="text" name="color" placeholder="What color is it?" value="{{oneD.color}}">

    <label for="Comfort">Comfort</label>

        <input type="text" name="comfort" placeholder="Rate 1-10" value="{{oneD.comfort}}">

    <label for="Seats">Seats</label>

        <input type="number" name="seats" placeholder="Whats the seat capacity?" value="{{oneD.seats}}">

    <label for="MPG">MPG</label>

        <input type="number" name="mpg" placeholder="Whats the average mpg city/hwy?" value="{{oneD.mpg}}">

    <label for="Child Friendly">Child Friendly</label>

        <input type="text" name="childFriendly" placeholder="yes or no" value="{{oneD.childFriendly}}">

    <label for="Accidents">Accidents</label>

        <input type="text" name="accident" placeholder="has or has not" value="{{oneD.accident}}">

    <label for="Smoking Allowed?">Smoking Allowed</label>
    
        <input type="text" name="smoker" placeholder="are availabe or are not availabe" value="{{oneD.smoker}}">

    <input type="submit" value="Update Description" class="homeLink">

</form>

<form method="POST" action="/user/cars/description/{{descriptId}}?_method=DELETE">

    <input type="Submit" value="Remove Description" class="homeLink">

</form>